node_modules
downloads
lint-results.sarif
.npm-cache
.yarn-cache
.npmrc
.yarnrc
yarn-error.log

docker

docker/videos
docker/videos-ci
docker/screenshots

tests/e2e/videos
tests/e2e/videos-ci
tests/e2e/screenshots
