name: Synpress CI

on:
  push:
  pull_request:
    branches: [master, dev]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  audit:
    # run only on master/dev branch and pull requests
    if:
      github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' ||
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    container:
      image: synthetixio/docker-sec-tools:16.17-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Audit dependencies
        run: audit-ci --critical --report-type full

      - name: Lockfile lint
        run:
          lockfile-lint -p yarn.lock --type yarn --allowed-schemes "https:"
          "git+https:" --empty-hostname false

  build:
    needs: audit
    # run only on audit success or audit skipped
    if:
      always() && (needs.audit.result == 'success' || needs.audit.result ==
      'skipped')
    runs-on: ubuntu-latest

    container:
      image: synthetixio/docker-node:16.17-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Set yarn cache directory
        run: yarn config set cache-folder .yarn-cache
        continue-on-error: true

      - uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # pin@v2
        with:
          path: |
            .yarn-cache
            node_modules
          key: ${{ runner.os }}-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-
        continue-on-error: true

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline --no-audit

      - name: Lint
        # run only on master/dev branch and pull requests
        if:
          github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' ||
          github.event_name == 'pull_request'
        run: yarn lint:sarif

      - name: Upload lint results
        # run if lint failed and only on master/dev branch and pull requests
        if:
          always() && (github.ref == 'refs/heads/master' || github.ref ==
          'refs/heads/dev' || github.event_name == 'pull_request')
        uses: github/codeql-action/upload-sarif@ec3cf9c605b848da5f1e41e8452719eb1ccfb9a6 # pin@codeql-bundle-20210517
        with:
          sarif_file: lint-results.sarif
        continue-on-error: true

  e2e:
    needs: build
    # run only on master/dev branch
    if:
      github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' ||
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    # todo: to enable matrix strategy we need to have different wallets on each resolution because of transactions
    # strategy:
    #   matrix:
    #     resolution: ['low', 'medium', 'high']

    steps:
      - name: Chown workspace
        run: chown -R $(whoami) .

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # pin@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # pin@v1

      - name: Cache Docker layers
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # pin@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Run e2e tests (low res)
        run: |
          docker-compose -f docker-compose.ci.yml --env-file low-res.env --profile foundry up --build --exit-code-from synpress
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
          DOCKER_DEFAULT_PLATFORM: linux/amd64
          NGROK_AUTH: ${{ secrets.NGROK_AUTH }}
          CYPRESS_PRIVATE_KEY_WITH_FUNDS:
            ${{ secrets.CYPRESS_PRIVATE_KEY_WITH_FUNDS }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Archive e2e artifacts (low res)
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # pin@v2
        if: always()
        with:
          name: e2e-artifacts-low-res
          path: |
            docker/videos
            docker/videos-ci
            docker/screenshots
        continue-on-error: true

      - name: Run e2e tests (high res)
        run: |
          docker-compose -f docker-compose.ci.yml --env-file high-res.env --profile foundry up --build --exit-code-from synpress
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
          DOCKER_DEFAULT_PLATFORM: linux/amd64
          NGROK_AUTH: ${{ secrets.NGROK_AUTH }}
          CYPRESS_PRIVATE_KEY_WITH_FUNDS:
            ${{ secrets.CYPRESS_PRIVATE_KEY_WITH_FUNDS }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Archive e2e artifacts (high res)
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # pin@v2
        if: always()
        with:
          name: e2e-artifacts-high-res
          path: |
            docker/videos
            docker/videos-ci
            docker/screenshots
        continue-on-error: true
