name: Release CI

on:
  push:
    branches: [master]
  workflow_dispatch:
    inputs:
      version:
        description: 'release: major|minor|patch'
        required: true
        default: patch

jobs:
  release:
    runs-on: ubuntu-latest
    name: release

    container:
      image: ghcr.io/synthetixio/docker-node/ubuntu:16.17
      credentials:
        username: synthetixio
        password: ${{ secrets.GH_PACKAGES_READ_ONLY }}

    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin@v2
        with:
          fetch-depth: 0
          ref: master

      - name: Set yarn cache directory
        run: yarn config set cache-folder .yarn-cache
        continue-on-error: true

      - uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77 # pin@v2
        with:
          path: |
            .yarn-cache
            node_modules
          key: ${{ runner.os }}-yarn-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v1-
        continue-on-error: true

      # fixes permission issues on docker
      - name: Chown workspace
        run: chown -R $(whoami) .

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline --no-audit

      - name: git config
        run: |
          git config user.name $GIT_USER
          git config user.email $GIT_EMAIL
          mkdir -p ~/.gnupg/
          printf $GPG_KEY | base64 -d > ~/.gnupg/private.key
          gpg --import ~/.gnupg/private.key
          git config commit.gpgsign true
          git config user.signingkey $GIT_SIGNING_KEY
        env:
          GIT_USER: ${{ secrets.GIT_USER }}
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GIT_SIGNING_KEY: ${{ secrets.GIT_SIGNING_KEY }}

      - name: yarn config
        run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Set current yarn package version
        id: extract-version
        run: |
          PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | tr -d '[[:space:]]')
          echo ::set-output name=current-version::$PACKAGE_VERSION

      - name: Release ${{ github.event.inputs.version }}
        if: github.event_name == 'workflow_dispatch'
        run: |
          git reset --hard
          yarn release:${{ github.event.inputs.version }} --ci
          yarn publish --non-interactive
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_USER: ${{ secrets.GIT_USER }}
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GIT_SIGNING_KEY: ${{ secrets.GIT_SIGNING_KEY }}

      - name: Release patch:beta
        if: github.event_name == 'push'
        run: |
          git reset --hard

          echo ${{ steps.extract-version.outputs.current-version }}
          if echo ${{ steps.extract-version.outputs.current-version }} | grep -q "beta"; then
            yarn release --ci --preRelease
            yarn publish --non-interactive
          else
            yarn release:patch --ci --preRelease=beta
            yarn publish --non-interactive
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_USER: ${{ secrets.GIT_USER }}
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GIT_SIGNING_KEY: ${{ secrets.GIT_SIGNING_KEY }}
